/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

/* Custom CSS */
/* Global */
:root {
    --light-blue: #6198ff;
    --dark-blue: #0059dd;
    --accent: #1a759f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
}

body {
    background-color: var(--light-blue);
}
/* colors */
.light-blue {
    background-color: var(--light-blue);
}

.dark-blue {
    background-color: var(--dark-blue);
}

/* waves */
.wave-set {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.wave1 {
    background-image: url('./images/wave1.svg');
    z-index: -2;
}

.flip {
    transform: rotate(180deg);
}

.pos {
    z-index: 100;
}

/* blobs */
.blob-motion {
    position: relative;
    transform: translateY(-20%);    
}

/* NavBar */
.nav-link:hover {
    border-bottom: 1px solid greenyellow;
    transition: all 0.5s;
}

.trn {
    background-image: linear-gradient(rgba(0, 89, 221, 1), rgba(0, 0, 0, 0.4));
    z-index: 99;
}

/* Home */
div > h1 {
    font-family: 'Raleway', sans-serif;
}

div > h4 {
    font-family: 'Lato', sans-serif;
}

.rounded-circle {
    border-radius: 50% !important;
    position: relative;
    z-index: 10;
}

.name-pos {
    z-index: 10;
}

.side-connect-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.5rem;
}

.side-connect-items > a:hover, .card-footer > .icon:hover {
    font-size: 2rem;
    color: greenyellow;
}

/* About*/
#about p, #about h3 {
    color: white;
}

#about > hr {
    color: greenyellow;
}

.about-wrapper {
    position: relative;
    background-image: url('./images/wave3.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-block-end: min(5vh, 5rem);
}

.card-wrap {
    border: 2px solid #1a759f;
    padding: 2rem;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.1);
}

.cv-dl {
    color: white;
}

/* Projects */
.proj-wrapper {
    position: relative;
    background-image: url('./images/gradient.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    max-width: fit-content;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.3);
}

.card-footer .icon {
    font-size: 2rem;
    vertical-align: middle;
    color: yellowgreen
}

/* Tools */
#tools {
    text-align: center;
    padding-block: min(20vh, 20rem);
}

#tools span {
    display: inline-block;
}

.icon2 {
    font-size: 2.3rem;
}

.tools-wrap {
    position: relative;
    background-image: url('./images/peaks1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.tools-set > span:hover {
    color: yellowgreen;
}

/* Copyright */
.icon3 {
    font-size: 1.7rem;
}

.icon3:hover {
    color: greenyellow;
}

#copyright {
    font-size: 0.8rem;
    padding-top: 1rem;
}

/* footer {
    background-color: var(--accent);
} */

/* arrow up button */
#arrow-up {
    position: fixed;
	bottom: 5px;
    right: 10px;
    color: greenyellow;
}

/* media queries */
/*laptop - 4k*/
@media only screen and (min-width: 1441px) and (max-width: 2560px) {
    .image-border {
        border: 5px solid var(--dark-blue);
        max-width: 30%;
    }

    .about-wrapper > .space {
        padding: 0 25rem;
    }

    .tools-set {
        padding: 2rem 12rem;
    }

    .talk-form {
        padding: 0rem 45rem;
    }
}

/*laptop*/
@media only screen and (min-width: 1300px) and (max-width: 1440px) {
    
    .image-border {
        border: 5px solid var(--dark-blue);
        max-width: 45%;
    }

    h1 {
        font-size: 3rem;
    }

    #home h4 {
        font-size: 2rem;
    }

    #about {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .about-wrapper > .space {
        padding: 0 5rem;
    }

    .tools-set {
        padding: 2rem 10rem;
    }

    .talk-form {
        padding: 0rem 20rem;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1299px) {
    .image-border {
        border: 5px solid var(--dark-blue);
        max-width: 50%;
    }
    #about {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .about-wrapper > .space {
        padding: 0 5rem;
    }

    .tools-set {
        padding: 2rem 3.5rem;
    }

    .talk-form {
        padding: 0rem 12rem;
    }
}

/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 999px) {
    .image-border {
        border: 5px solid var(--dark-blue);
        max-width: 55%;
    }

    #about {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .about-wrapper > .space {
        padding: 0 5rem;
    }

    .tools-set {
        padding: 1rem 3rem;
    }

    .talk-form {
        padding: 0rem 10rem;
    }
}

/*mobile screen*/
@media screen and (min-width: 320px) and (max-width: 767px) {
    .image-border {
        border: 5px solid var(--dark-blue);
        max-width: 50%;
    }

    h1 {
        font-size: 1.8rem;
    }

    #about {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .about-wrapper > .space {
        padding: 0 0.5rem;
    }

    .tools-set {
        padding: 1rem 2rem;
    }

    .talk-form {
        padding: 0rem 0.5rem;
    }
}