/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

/* Custom CSS */
/* Global */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #E8F9FD;
    color: #2155CD;
}

/* NavBar */
.nav-bg {
    background-color: inherit;
    font-family: 'Lato', sans-serif, 20px;
    color: #0AA1DD;
}

.navbar-hover:hover {
    background-color: greenyellow;
    border-radius: 25%;
    transition: all 0.5s;
}

/* Home */
div > h1 {
    font-family: 'Raleway', sans-serif;
}

div > h4 {
    font-family: 'Lato', sans-serif;
}

.image-border {
    border: 5px solid #0AA1DD;
    max-width: 50%;
    z-index: 5;
}

/* .svg-home {
    width: 80%;
    left: -80px;
    top: -80px;
    z-index: -1;
} */

/* About*/
#about{
    background-color: #79DAE8;
}

.about-h3 {
    z-index: 5;
}

/* Tools */
#tools {
    background-color: #79DAE8;
    text-align: center;
}

/* Contact */
#map-size {
    max-height: 60vh;
    width: 100%;
}

.forms {
    background-color: #79DAE8;
}

#button-bg {
    background-color: #2155CD;
    color: #E8F9FD;
}

/* Connect */
.gmail-logo > img {
    padding-bottom: 0.6rem;
    width: 25px;
}

/* Copyright */
.copyright {
    background-color: #79DAE8;
}

/* media queries */
/*laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .svg-home {
        width: 80%;
        left: -80px;
        top: -80px;
        z-index: -1;
    }
    
    .svg-about {
        /* min-width: 50%; */
        width: 25rem;
        z-index: 1;
    }
}

/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .svg-home {
        max-width: 75%;
        left: -50px;
        top: -50px;
        z-index: -1;
    }

    .svg-about {
        width: 25rem;
        z-index: 1;
    }
}

/*mobile screen*/
@media screen and (min-width: 320px) and (max-width: 767px) {
    .svg-home {
        width: relative;
        left: 50px;
        top: -50px;
        z-index: -1;
    }
}
